html,
body {
  padding: 0;
  margin: 0;
<<<<<<< Updated upstream
  cursor: none;
  background-color: white;
=======
  // cursor: none;
  // background-color: white;
>>>>>>> Stashed changes
}

html *,
body * {
    cursor: none !important;
}

main {
  overflow: hidden;
}

.bg-white {
  background-color: white;
}
