html,
body {
  padding: 0;
  margin: 0;
  // cursor: none;
  background-color: white;
}

html *,
body * {
    // cursor: none !important;
}

#__next {
  overflow: hidden;
}

main {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

footer {
  position: relative;
  z-index: 1;
}

.bg-white {
  background-color: white;
}
